<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Zuhaib Shafi's Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house fa-lg"></i> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/cals"><i class="fa-solid fa-circle-info fa-lg"></i> CalsList </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-address-card fa-lg"></i> About Me </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/projects"><i class="fa-solid fa-diagram-project fa-lg"></i> Projects </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-phone fa-lg"></i> Contact Me </a>
            </li>
        </div>
      </div>
    </nav>
    <main class="container">
            <div class="row">
            <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <tr>
                <th class="text-center">Food Item</th>
                <th class="text-center">Calories</th>
                <th class="text-center">Protein(g)</th>
                <th class="text-center">Carbs(g)</th>
                <th class="text-center">Fat(g)</th>
                </tr>
                <!-- Repeat the Template with a loop-->
                <% for (let count = 0; count < CalsList.length; count++) { %>
                    <tr>
                    <td class="text-center"><%= CalsList[count].FoodItem %></td>
                    <td class="text-center"><%= CalsList[count].Calories %></td>
                    <td class="text-center"><%= CalsList[count].Protein %></td>
                    <td class="text-center"><%= CalsList[count].Carbs %></td>
                    <td class="text-center"><%= CalsList[count].Fat %></td>
                    </tr>
                <% } %>
            </table>
            </div>
            </div>
    </main>
  </body>
</html>
